SPLUNK_URL=https://<YOUR_SPLUNK_IP>:8088/services/collector/event
SPLUNK_HEC_TOKEN=your_splunk_hec_token_here
SPLUNK_ADMIN_USER=admin
SPLUNK_ADMIN_PASS=your_splunk_admin_password_here
SCAN_TIMEOUT=2.5
CENSYS_API_TOKEN=your_censys_platform_token_here